# -FrontPage-

Options None

<Limit GET POST PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName usttogether.com
AuthUserFile /home/usttrcom/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/usttrcom/public_html/_vti_pvt/service.grp
